@import 'https://unpkg.com/element-ui/lib/theme-chalk/index.css';

html body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f3f3f3;
}

/**************最上面的部分**************/
.ttop {
    width: 100%;
    height: 117px;
    background-color: #d7d7d7;
}
#topimg {
    background: url("../../assets/top.png") 100%/100%  no-repeat;
    margin: 0 auto;
    width: 1000px;
    height: 117px;
}
.p4 {
    display: inline-block;
    margin-top: 45px;
    font-weight: bold;
    margin-left: 600px;
    color: black;
    font-size: 17px;
}
.p5 {
    margin-left: 100px;
    font-size: 13px;
    color: #2e77e6;
}

/*************顶部*********************/
.top {
    width: 100%;
    height: 60px;
    background-color: #01836c;
}
.topinside {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: #01836c;
}

.btn {
    background-color: #01836c;
    width: 250px;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 17px;
    float: left;
    color: white;
}
.el-menu {
    background-color: #01836c;
}
.btn2 {
    background-color: #01836c;
    width: 166px;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 17px;
    float: left;
    color: white;
}



/**************中部
.center {
    width: 1100px;
    margin: 0 auto;
}
#left_side {
    float: left;
    width: 476px;
    height: 310px;
    margin-top: 74px;
    margin-left: 50px;
    margin-bottom: 74px;
    background: url("../../assets/image1.png") 100%/100% no-repeat;
}
#right_side {
    float: left;
    margin-left: 74px;
    margin-bottom: 74px;
    width: 476px;
    height: 310px;
    margin-top: 74px;
}
.p3 {
    display: inline;
    color: black;
    font-size: 24px;
}
****************/

/******************底部****************/
.foot {
    width: 100%;
    height: 120px;
    background-color: #01836c;
    color: #88c674;
    text-align: center;
}
.icon {
    display: inline-block;
    background: url("../../assets/icon1.png") 100%/100% no-repeat;
    width: 20px;
    height: 20px;
}
.p1 {
    font-size: 14px;
    color: #88c674;
    text-decoration: none;
}
.p2 {
    font-size: 10px;
}

/**********清除浮动**************/
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}


/**************************查询工资前端样式**********************/
.selectCenter{
    width: 800px;
    height: 220px;
    margin: 0 auto;
}
#center-top p{
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
ul>li {
    list-style: none;
    height: 50px;
}

